$inalambria-color-blue: #093561;
$inalambria-color-blue2: #003366;
$inalambria-color-white: #FFF;
$inalambria-color-gray: #DCDCDC;
$inalambria-color-received: #15C377;
$inalambria-color-sent: #48B0F7;
$inalambria-color-open: #FCC525;
.cust-shadow-aside-header {
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.10);
}

.cust-icon-link {
    color: $inalambria-color-blue2;
}

.cust-margin-h3 {
    margin-left: 15px;
}

.cust-hr-margin {
    margin: 1rem auto;
}

.cust-span-margin-right {
    margin-right: 20px;
}

.cust-btn-width {
    width: 250px;
}

.cust-green-color {
    color: $inalambria-color-received;
}

.cust-blue-color {
    color: $inalambria-color-sent;
}

.cust-yellow-color {
    color: $inalambria-color-open;
}

.cust-img-width {
    max-width: 80% !important;
}

.cust-color-title {
    color: $inalambria-color-blue !important;
    font-weight: 400;
}

.cust-content-top-padding {
    padding-top: 0px !important;
}

.cust-a-color {
    color: #65C78B;
}

.cust-font-family {
    font-family: 'Alegreya Sans SC';
    font-size: 5em;
}

.cust-donut-container {
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.cust-badge-background {
    background-color: #46be8a;
}

.cust-area-container {
    margin: 5%;
    margin-top: 0%;
}